.dots {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 10px;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .product img {
        width: 130px;
        height: 130px;
    }

    .product .div {
        padding: 0;
    }

    .product .h5 {
        font-size: 16px;
    }

    .product .h6,
    p {
        font-size: 13px;
    }

    .dots {
        position: absolute;
        right: 0px;
        top: 0px;
    }
}
