    .link {
        text-decoration: none;
        color: black;
    }

    .link:hover {
        text-decoration: underline;
    }

    .categoryImg {
        /* skeleton approach gary color */
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        background-color: #f2f2f2;
    }

    .categoryImg img {
        width: 100%;
    }

    .categoryTitle {
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
    }

    @media screen and (max-width: 450px) {
        .categoryImg {
            width: 160px;
            height: 160px;
        }
    }

    @media screen and (max-width: 400px) {
        .categoryImg {
            width: 120px;
            height: 120px;
        }

        .icon-wrapper {
            position: relative;
            right: -5px;
        }
    }

    .icon-wrapper {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 25px;
    }

    .icon {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: scale(0.5) rotate(90deg);
        transition: all 0.5s ease;
    }

    .icon.show {
        opacity: 1;
        transform: scale(1) rotate(0);
    }

    .icon.hide {
        opacity: 0;
        transform: scale(0.5) rotate(-90deg);
    }

    .search-bar {
        border: none;
        border-bottom: 1px solid black;
    }

    .search-bar:focus {
        outline: none;
        border: 3px solid rgb(81, 134, 250) !important;
    }